.modal__overlay {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal__container {
  background: #9ff7c6;
  border-radius: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: default;
  z-index: 1;
}

.modal__container__small {
  max-width: 250px;
  max-height: 250px;
}

.modal__container__medium {
  max-width: 500px;
  max-height: 500px;
}

.modal__container__large {
  max-width: 800px;
  max-height: 800px;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #44755a;
  color: #44755a;
}

.modal__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #365e48;
}

.modal__body {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}
