html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to right, #88d7eb, #c5c7fa);
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.mt-20 {
  margin-top: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #bfecf9;
}

.backgroundLight {
  background: #e2e3fc;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #595733;
  cursor: pointer;
  background-color: transparent;
  padding: 1px;
  border-radius: 3px;
}

.icon:hover {
  background-color: #b9b56b;
  transition: background-color 0.1s ease-in;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #595733;
  cursor: pointer;
  background-color: #ede889;
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
}

.button:hover:not(:disabled) {
  background-color: #b9b56b;
  transition: background-color 0.1s ease-in;
}

.inputError {
  border: 1px solid #f692c9;
}

.inputError__message {
  font-size: 0.7rem;
  color: #f692c9;
}

::-webkit-scrollbar {
  width: 5px;
  background: #fbded8;
}

::-webkit-scrollbar-thumb {
  background-color: #af7465;
  border-radius: 5px;
}

input,
textarea {
  background-color: #fffffff0 !important;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
}
