.message__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.message__body__admin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 30px;
  background: #f8bdb0;
  width: 50%;
  font-weight: bold;
  color: #4e5087;
}

.message__body__container {
  display: flex;
  flex-direction: column;
}

.message__body {
  max-width: 400px;
  padding: 10px;
  box-shadow: 0px 0px 3px 2px #e2e3fc;
  border-radius: 20px 20px 20px 0px;
  background-color: #e2e3fc;
  overflow-wrap: anywhere;
}

.message__body__user {
  background-color: #bfecf9;
  box-shadow: 0px 0px 3px 2px #bfecf9;
  border-radius: 20px 20px 0px 20px;
}

.message__image {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

.message__image:hover {
  opacity: 0.7;
}

.message__modalImage {
  max-width: 700px;
  max-height: 700px;
}

.message__timestamp {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #777;
  font-size: 0.7rem;
}
