.message__box {
  border-radius: 20px;
  padding: 5px 20px;
  display: inline-block;
  max-width: 80%;
}

.message__text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.message__adminMessage {
  font-size: 0.9em;
  color: grey;
}

.message__text img {
  vertical-align: middle;
}

.message__container {
  display: flex;
  padding: 0 5%;
  margin-top: 5px;
}

.message__adminMessage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  margin-top: 5px;
}

.message__adminMessage__container > hr {
  width: 80%;
  border: 1px solid lightgrey;
  height: 0;
}

.message__sender {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}
