.landingPage__container {
  background: #9ff7c6;
  width: fit-content;
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px #70c295;
}

.landingPage__title {
  color: #44775a;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.landingPage__subTitle {
  color: #365e48;
  font-size: 2rem;
  font-weight: bold;
}

.landingPage__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingPage__input {
  margin-bottom: 5px;
  padding: 5px 10px;
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 200px;
  border-radius: 10px;
  border: none;
}

.landingPage__button {
  margin-top: 20px;
  padding: 10px 20px !important;
  border: none;
  cursor: pointer;
  border-radius: 10px !important;
  font-size: 1rem;
  font-weight: bold;
}

.landingPage__button:disabled {
  opacity: 0.7;
  cursor: default;
}

.landingPage__button:hover:not(:disabled) {
  background-color: #aaaaaa;
  color: white !important;
  transition: background-color, color 0.3s ease-out;
}
