.form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 20px;
}

.form__inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form__input {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  width: 60%;
}

.form__input__error {
  border: 3px solid red;
}

.form__error {
  margin-top: 5px;
  font-size: 0.7rem;
  color: red;
}

.form__button {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #2979ff;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  width: 30%;
}

@media (min-width: 480px) and (max-width: 1200px) {
  .form__container {
    width: 60%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .form__container {
    width: 70%;
  }
}

.form__button:focus {
  outline: 0;
}
