.form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 20px;
}

.form__inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form__input {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  width: 60%;
}

.form__input__error {
  border: 3px solid #f692c9;
}

.form__error {
  margin-top: 5px;
  font-size: 0.7rem;
  color: #f692c9;
}

.form__button {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px !important;
  border-radius: 10px;
  display: inline-block;
  border: none;
  max-width: 50%;
  transition: color, background-color 0.3s ease-out;
}

.form__button:disabled {
  opacity: 0.7;
  cursor: default;
}

.form__button:hover:not(:disabled) {
  color: #fff !important;
}

.form__button:focus {
  outline: 0;
}
