.landing__container {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.landing__headers {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.landing__header {
  color: white;
  font-size: 2.5em;
  /* border-bottom: 2px solid lightgrey; */
  cursor: pointer;
  padding: 0px 20px 5px 20px;
}

.landing__header__selected {
  border-bottom: 2px solid white;
}
