.chatRoomCard__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #b2f696;
  border-bottom: 1px solid #527544;
  padding: 20px 0px;
  cursor: pointer;
}

.chatRoomCard__container:hover {
  background-color: #9bdc7f;
  transition: background-color 0.1s ease-in;
}

.chatRoomCard__container__active {
  background-color: #9bdc7f;
}

.chatRoomCard__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.chatRoomCard__notification {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee9e8a;
  margin-left: 20px;
  animation: blink 1s infinite;
}

.chatRoomCard__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15px;
}

.chatRoomCard__roomName {
  font-weight: bold;
  font-size: 1.1rem;
  color: #415c35;
}

.chatRoomCard__right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
