.chatManager__outerContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.chatManager__titleContainer {
  position: absolute;
  top: 0;
  left: 20px;
  height: 80px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatManager__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  -webkit-text-stroke: 1.5px #70c295;
  color: #ede889;
  font-size: 2rem;
}

.chatManager__logout {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chatManager__logout > button {
  font-weight: bold;
}

.chatManager__innerContainer {
  position: absolute;
  top: 80px;
  left: 20px;
  background: #9ff7c6;
  height: calc(100% - 100px);
  width: calc(100% - 40px);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
